* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--darkest-red: rgb(69, 23, 22);
	--dark-red: rgb(122, 23, 36);
	--bright-red: rgb(196, 47, 22);
	--off-red: rgb(184, 56, 62);
	--light-red: rgb(222, 137, 141);
	--dark-purple: rgb(53, 18, 148);
	--bright-purple: rgb(68, 38, 150);
	--dark-orange: rgb(241, 98, 58);
	--off-orange: rgb(253, 193, 95);
	--timeline-event-width: 90%;
	/* --timeline-event-width: 100%; */
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: rgb(56, 56, 56);
	line-height: 1.6;

	/* * siempre: footer bottom */
	min-height: 100vh; 
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	color: #000;
	text-align: start;
}


h2 {
	width: fit-content;
	font-size: 4.8rem;
	letter-spacing: 4px;
	font-weight: 800;
	text-transform: uppercase;
	display: block;
	/* text-align: center;  */
	margin: 0 auto;
}

h3 {
	width: 100%;

	/* font-size: 2em;
	font-weight: 600; */
	font-size: 2.6rem;
	font-weight: 700;

	margin-bottom: 20px;

	line-height: 1.5em;
	/* color: var(--dark-purple); */
}

h4 {
	font-size: 1.3rem;
	font-weight: 600;
}

h5 {
	font-size: 1rem;
	font-weight: 600;
}
  
p {
	width: 100%;
	margin-bottom: 1rem;
}

.justify-text {
	text-align: justify;
	/* text-justify: inter-word; */
	text-justify: auto;
	/* text-justify: inter-character; */
}

.italic {
	font-weight: bold;
	font-style: italic;
}

a {
	text-decoration: none;
}

hr { 	/* ççç borrar */
	display: none;
	border-color: #ccc;
	opacity: 0.1;
}

/* <---------- General ----------> */

header {
	height: 200px;
}

section {
	width: 100%;
	max-width: 2500px;
	margin: 0 auto;
	/* to skip the navbar height. real sepatation is padding-navbar */
	padding-top: 100px; 
	margin-top: -10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.sub-section {
	width: 100%;
	margin-top: 50px;
}

.container {
	padding: 0 120px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-narrow {
	padding: 0 170px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media (max-width: 1300px) {
	.container-narrow {
		padding: 0 120px;
	}
}

@media (max-width: 1080px) {
	.container,
	.container-narrow {
		padding: 0 80px;
	}
}

@media (max-width: 650px) {
	.container,
	.container-narrow {
		padding: 0 40px;
	}
}

@media (max-width: 480px) {
	.container,
	.container-narrow {
		padding: 0 20px;
	}
}

.flex-row {
	display: flex;
	flex-flow: row wrap;
}

.justify-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.align-start {
	align-items: flex-start;
}

::-webkit-scrollbar {
	width: 10px;
}
  
::-webkit-scrollbar-track {
	background: rgb(220, 220, 220);
}
  
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.underline {
	position: relative;
	font-weight: 600;
	color: #000;
}
/* .underline::after {
	z-index: -1;
	position: absolute;
	content: "";
	width: 100%;
	height: 6px;
	left: 4px;
	bottom: -1px;
	border-radius: 3px;
	background-color: var(--bright-red);
	opacity: 0.2;
} */

/* .underline {
	position: relative;
	font-weight: 500;
	color: white;
}
.underline::after {
	z-index: -1;
	position: absolute;
	content: "";
	width: calc(100% + 6px);
	height: 18px;
	left: -2px;
	bottom: -1px;
	border-radius: 3px;
	background-color: var(--bright-red);
} */


button {
	outline: none;
	cursor: pointer;
	border-style: none;
	font-family: inherit;
	font-weight: inherit;
}

button:focus,
button:active {
	outline: none;
}

/* <---------- Navbar ----------> */

.navbar {
	width: 100%;
	height: 90px;
	position: fixed;
	top: 0;
	padding: 0 50px;
	background: #fff;
	/* opacity: 0.95; */
	border-bottom: 1px solid #ccc;
	box-shadow: 0px 3px 16px -11px rgba(112,112,112,0.86);
	z-index: 10;
	

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.navbar-brand {
	width: 200px;
	/* margin-left: 10px; */
	padding: 20px;
}
.navbar-brand img {
	width: 100%;
}

.nav-item-wrapper {
	z-index: 10;
}

.navbar ul {
	list-style: none;
	position: relative;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.nav-item {
	position: relative;

	font-family: 'Montserrat', sans-serif;
	font-size: 0.9em;

	color: rgb(170, 170, 170);
	font-weight: 600;
	text-align: right;
	text-decoration: none;
	text-transform: uppercase;
	padding: 20px;

	transition: 0.3s;
}

.nav-item.active {
	color: rgb(165,42,42)
}

.nav-item:active { 
	color: rgb(165,42,42);
}

.nav-item:hover { 
	color: rgb(224, 133, 133)

}

/* - Responsive Navbar - */

.close-btn,
.hamburger-icon {
	color: rgb(120, 120, 120);
	display: none;
}

.hamburger-icon {
	z-index: 1;
	cursor: pointer;
	font-size: 20px;
}

.close-btn {
	font-size: 20px;
	cursor: pointer;
}

.backdrop { /* darken background when open */
	display: none;
	animation: 0.4s ease-in-out fadeIn forwards; /* fordwards se queda en el final */
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0);
	cursor: pointer;
}
@keyframes fadeIn {
	to { background: rgba(0,0,0,.8); }
}


@media (max-width: 1300px) {
	.navbar {
		padding: 0 24px;
	}
	.navbar-brand {
		padding: 0;
	}


	.hamburger-icon,
	.close-btn {
		display: block;
	}

	.hamburger-icon {
		position: absolute;
		right: 24px;
	}

	.close-btn {
		position: absolute;
		top: 24px;
		right: -90vh;
		z-index: 10;
		transition: all 0.3s ease-in-out;
	}

	.close-btn:hover {
		color: #000;
		cursor: pointer;
	}

	.navbar ul {
		position: absolute;
		top: 0;
		height: 100vh;
		width: 80%;
		right: -80%;
		background: #fff;
		border-left: 1px solid #ccc;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		text-align: center;
		z-index: 2;
		transition: all 0.3s ease-in-out;
	}

	.nav-item {
		font-size: 1em;
	}

	.open ul {
		right: 0 !important;
	}

	.open .close-btn {
		right: 32px;
	}

	.open .backdrop {
		display: block;
	}
}



/* <---------- Titles ----------> */

h2 {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

h2 .title-wrapper {
	width: fit-content;
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	line-height: 1.2em;

	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: var(--dark-red);
	color: transparent;
	transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.23,1,.32,1);
}
/* filling */
h2 .title-wrapper:after { 
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	color: var(--dark-red);
	content: attr(data-text);
	display: block;
	overflow: hidden;
    transition-property: width;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.23,1,.32,1);
    white-space: nowrap;
    width: 0
}

.visible h2 .title-wrapper:after {
	width: 100%;
}

h2 .title-wrapper:first-child:after {
    transition-delay: .1s;
}
h2 .title-wrapper:nth-child(2):after {
    transition-delay: .4s;
}

@media (max-width: 800px) {
	h2.smaller {
		font-size: 4rem;
	}
}

@media (max-width: 650px) {
	h2 {
		font-size: 3.5rem;
	}
	h2.smaller {
		font-size: 2.8rem;
	}

	h3 {
		font-size: 2.3rem;
		line-height: 1.4;
	}
}

@media (max-width: 480px) {
	h2 {
		font-size: 2.8rem;
	}
	h2.smaller {
		font-size: 2.3rem;
	}

	h3 {
		font-size: 1.9rem;
	}
}


/* <----------------------------- Layouts ---------------------------> */


/* <---------- Header ----------> */

.header-section {
	position: relative;
	width: 100%;
	height: 100vh;

	box-shadow: 0px 3px 30px -11px rgba(112,112,112,0.2);

	display: flex;
	justify-content: center;
	align-items: center;
}

.header-img {
	width: 70%;
	animation: 2s ease-out 0s 1 appear forwards;
}

@keyframes appear {
	/* from{ width: 70%; opacity: 0 }
	to{ width: 75%; opacity: 1 } */
	from{ transform: scale(1); opacity: 0; }
	to{ transform: scale(1.2); opacity: 1; }
}

.header-section .scroll-icon {
	position: absolute;
	margin: 0 auto;
	bottom: 40px;

	font-size: 38px;
	color: rgb(170, 170, 170);
	animation: 0.8s ease-in-out 1.5s infinite scrollIcon;
}

@keyframes scrollIcon {
	from{ bottom: 38px; }
	to{ bottom: 34px; }
}



/* <---------- About Section ----------> */

.about-section {
	z-index: 0;
	background:  
		linear-gradient(
			rgba(0, 0, 0, 0.15),
			rgba(0, 0, 0, 0.15)
		), url("../img/playing_kids.jpg");
	background-size: cover;
	background-position: center center;
	height: 600px;
}

.about-section .text-block {
	position: relative;
	padding: 0 30px;
	width: 60%;
	max-width: 1000px;
	margin-left: 30%;
}

.about-section h3 {
	font-size: 3em;
	color: white;
}

.about-section p {
	font-size: 20px;
	font-weight: 500;
	color: white;
}

@media (max-width: 950px) {
	.about-section .text-block {
		width: 100%;
		margin: 0 0;
	}
}

/* <---------- Introduction Section ----------> */

.introduction-section .text-block {
	width: 100%;
	text-align: justify;
}

.introduction-section img {
	float: right;
	max-width: 700px;
	min-width: 550px;
	width: 55%;
	padding: 0 0 40px 40px;
}

@media (max-width: 1080px) {
	.introduction-section img {
		max-width: 100%;
		width: 1000px;
		padding: 0 30px 30px;
		min-width: 100%;
	}
}

@media (max-width: 650px) {
	.introduction-section img {
		width: 100%;
		padding: 0 0 30px;
	}
}


/* <---------- Context Section ----------> */

.context-section {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	position: relative;
}

.context-section p {
	margin-bottom: 0;
}

.context-section .full-width {
	width: 100%;
	margin-bottom: 30px;
}

.context-section .half-width {
	width: 65%;
	max-width: 850px;
	/* width: 55%; */
}

.context-section .left {
	display: flex;
	justify-content: flex-start;
}

.context-section .right {
	display: flex;
	justify-content: flex-end;
	text-align: end;
}

.context-section p {
	line-height: 1.7rem;
}

.context-section .highlight {
	color: var(--dark-red);
	font-size: 1.6rem;
	font-weight: 900;
	font-style: italic;
}

.context-section .data-block {
	/* width: 450px; */
	/* margin-top: 30px; */
	/* margin-bottom: 30px; */
	margin: 30px 0;
	/* padding: 0 20px; */
}

.context-section .data-number {
	color: var(--dark-red);
	font-size: 7rem;
	font-weight: 900;
	line-height: 0.5em;
}

.context-section .data-label {
	font-size: 1.2rem;
	padding: 0 8px;
}

.data-block .data-text {
	color: var(--dark-red);
	font-size: 4.5rem;
	font-weight: 900;
	line-height: 4rem;
}

.context-section .data-number .data-smaller {
	font-size: 0.8em;
}

.data-block.block-data-text {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.data-block .data-label-text {
	padding: 0 30px;
	margin-bottom: 0;
}


.short-text {
	max-width: 750px;
	align-self: flex-end;
}

.highlight-box {
	/* background-color: var(--off-orange); */
	/* border: 3px solid var(--off-orange); */
	border: 1px solid var(--dark-red);
	/* color: var(--darkest-red); */
	border-radius: 10px;
	padding: 30px 40px;
	margin: 20px 0;
}

@media (max-width: 1300px) {
	.self-end {
		width: 100%;
		text-align: end;
	}
	.data-block.block-data-text {
		width: 80%;
	}
}

@media (max-width: 1080px) {
	.context-section .half-width {
		width: 100%;
	}
}

@media (max-width: 950px) {
	.context-section .data-number {
		font-size: 6rem;
	}

	.context-section .data-block {
		margin: 30px auto;
	}

	.data-block {
		margin: 0 auto;
	}

	.data-block.block-data-text {
		flex-flow: column wrap;
	}
	.data-block .data-label-text {
		margin-top: 20px;
	}
}

@media (max-width: 480px) {
	.context-section .data-number {
		font-size: 5.3rem;
	}

	.context-section .data-block {
		margin: 20px auto;
	}
}


/* <---------- Map Section ----------> */
.map-section {
	position: relative;
	width: 100%;
	height: 800px;

	background: url(../img/map.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.map-section .btn-show {
	display: none;
	position: absolute;
	/* padding: 5px; */
	width: 80px;
	height: 80px;

	justify-content: center;
	align-items: center;
}

.btn-show button {
	font-size: 25px;

	width: 45px;
	height: 45px;

	border-radius: 50%;
	background: rgba(255,255,255,0.3);
	border: 2px solid white;
	color: white;

	animation: 0.7s ease-in-out infinite alternate sizeAnimation;
}
@keyframes sizeAnimation {
	from { transform: scale(1); }
	to { transform: scale(1.05); }
}


.map-section h3,
.map-section h4,
.map-section p	{
	color: #fff;
}

.map-card {
	position: absolute;
	background: var(--dark-orange);
	padding: 15px 20px 10px;
	width: 90%;
	max-width: 800px;
	font-size: 0.95rem;
}
.map-card.card-sp {
	top: 220px;
	left: 50px;
}
.map-card.card-tz {
	right: 50px;
	bottom: 180px;
}
.map-card .fa-times {
	display: none;
	position: absolute;
	font-size: 1em;
	color: #fff;
	top: 15px;
	right: 20px;
}


@media (max-width: 1080px) {
	.map-section {
		height: 600px;
	}
	.map-section p	{
		font-size: 0.95em;
	}

	.map-card {
		width: 42%;
	}
	.map-card.card-sp {
		top: 170px;
	}
	.map-card.card-tz {
		bottom: 150px;
	}
}

@media (max-width: 850px) {
	.map-section .btn-show {
		display: flex;
	}

	.map-card .fa-times {
		display: inline-block;
		position: absolute;
		font-size: 1em;
		color: #fff;
		top: 15px;
		right: 20px;
	}	

	.map-card {
		display: none;
		width: 280px;
	}
	.map-card.card-sp {
		top: 150px;
		left: auto;
		right: 30px;
	}
	.map-card.card-tz {
		bottom: 60px;
		right: auto;
		left: 30px;
	}
	.map-section .btn-sp {
		left: 27%;
		top: 82px;
	}
	.map-section .btn-tz {
		right: 24%;
		bottom: 65px;
	}
	
}

@media (max-width: 700px) {
	.map-section .btn-sp {
		left: 21%;
	}
	.map-section .btn-tz {
		right: 16%;
	}
}

@media (max-width: 550px) {
	.map-section .btn-sp {
		left: 15%;
	}
	.map-section .btn-tz {
		right: 10%;
	}
}

@media (max-width: 480px) {
	.map-section .btn-sp {
		left: 12%;
	}
	.map-section .btn-tz {
		right: 7%;
	}
}

/* <---------- Timeline Section ----------> */

.timeline {
	position: relative;
	width: 100%;
	height: 600px;

	color: white;
	overflow: hidden;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
}

.timeline h3 {
	position: relative;
	z-index: 3;

	margin-top:15px;
	margin-left: 15%;	/* çç mirar */
	color: white;
}

.controls-wrapper {
	position: relative;
	z-index: 3;
	bottom: 15px;
	width: 85%;
}

.controls-wrapper button {
	position: absolute;
	bottom: 100px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid var(--dark-orange);
	background: rgba(241, 98, 58, 0.3);
	font-size: 1.2rem;
}

.controls-wrapper button i {
	color: #fff;
	font-size: 0.8em;
}

.controls-wrapper button:hover {
	background: rgba(241, 98, 58, 0.5);
}

.controls-wrapper button.control-prev {
	left: 0;
}
.controls-wrapper button.control-next {
	right: 0;
}

.control-line {
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 50%;
	background-color: var(--dark-orange);
}

.control-line-wrapper {
	position: relative;
	height: 70px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.timeline-node {
	position: relative;
	padding: 15px 0;
	color: white;
	font-weight: 600;
	left: -1px;
	z-index: 1;
	cursor: pointer;
	border-radius: 3px;

	display: flex;
	justify-content: center;

	transition: color 0.3s ease-in-out;
}

.timeline-node span {
	position: relative;
	left: -7px;
	transition: all 0.2s ease-out;
}

.timeline-node.active span {
	font-size: 1.4em;
	color: var(--dark-orange);
	font-weight: 700;
}


.timeline-node:hover {
    color: var(--off-orange)
}
  
.timeline-node::before {
	position: relative;
	content: "";
    width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 1px solid var(--dark-orange);
	background: rgba(241, 98, 58, 0.4);
	top: -22px;
	left: 50%;
	transform: translateX(-7px);
}

.timeline-node::after {
	position: relative;
	content: "";
    width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #fff;
	top: -16px;
	left: -50%;
	transform: translateX(2px);
}

.timeline-node::before:hover { /* no fnciona, mirar */
    background: black;
}

.timeline-texts,
.timeline-images {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;

	height: 100%;
	flex-shrink: 0;
	display: flex;
	flex-flow: column wrap;

	transform: translateX(0);
}

.timeline-texts > .timeline-event,
.timeline-images > .timeline-event {
	position: relative;
	width: var(--timeline-event-width);
	height: 100%;
}

.timeline-texts {
	/* transition: left 1.2s cubic-bezier(0.2, 0, 0.2, 1); */
	transition: all 1.2s cubic-bezier(0.2, 0, 0.2, 1);
}

.timeline-texts > .timeline-event {
	padding: 80px 5%;
}

.timeline-texts > .timeline-event p {
	max-width: 1000px;
}

.timeline .timeline-event-title {
	font-size: 3em;
	font-weight: 700;
}

.timeline-images {	
	/* transition: left 0.9s cubic-bezier(0.2, 0, 0.2, 1); */
	transition: all 0.9s cubic-bezier(0.2, 0, 0.2, 1);
}

.timeline-images > .timeline-event {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}



@media (max-width: 800px) {
	.timeline-texts > .timeline-event p {
		font-size: 0.95em;
	}
}

@media (max-width: 650px) {
	/* ! en 2016, ponerle un scroll invisible y que vaya desapareciendo en los bordes */
	.timeline {
		height: 650px;
	}
}


/* <---------- Structure Section ----------> */

.border-left {
	border-left: 10px solid var(--off-red);
	padding-left: 40px;
}
.border-left p:last-child {
	margin-bottom: 0 !important;
}

.border-right {
	border-right: 6px solid var(--off-red);
	padding-right: 35px;
	text-align: end;
}
.border-right p:last-child {
	margin-bottom: 0 !important;
}

.team-structure-top {
	/* padding: 0 6%; */
	justify-content: space-around;
}

.team-structure-top .text-block {
	width: 55%;
	padding-right: 20px;
}

.team-structure-top img {
	/* width: 35%; */
	padding-top: 20px;
	width: 450px;
	max-width: 100%;
}

.team-structure-bottom {
	/* padding: 0 100px; */
	justify-content: center;
}

.small-card {
	width: 370px;
	max-width: 650px;
	margin: 0 25px;
}

.arrow {
	position: relative;
	width: 70px;
	right: -80px;
}

.groups-structure {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;
}

.groups-block {
	/* margin-top: 30px; */
	margin-top: 30px;
	width: 50%;
	/* min-width: 620px; */
	/* width: fit-content; */

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
}

.groups-block .group {
	/* height: 200px; */
	/* text-align: justify; */
	/* width: 500px; */
	/* width: 370px; */
	width: 50%;
	max-width: 450px;

	padding: 0 30px;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.group h5 {
	text-align: center;
}

.group p {
	font-size: 0.95em;
}

.commision-icon {
	/* transform: scale(0.2); */
	height: 150px;
	stroke: var(--dark-orange);
	padding-bottom: 20px;
}

@media (max-width: 1500px) {
	.groups-block {
		width: 100%;
	}
}

@media (max-width: 1300px) {
	.team-structure-top img {
		width: 400px;
	}
}

@media (max-width: 1130px) {
	.team-structure-top img {
		width: 380px;
	}
}

@media (max-width: 1080px) {
	.small-card {
		width: 100%;
	}

	.team-structure-top .text-block {
		width: 100%;
	}
	.team-structure-top img {
		width: 450px;
	}

}

@media (max-width: 800px) {
	.groups-block .group {
		width: 100%;
	}
}

@media (max-width: 650px) {
	.commision-icon {
		height: 120px;
	}
}


/* <---------- Teamers Section ----------> */

.teamers-section p {
	text-align: center;
}

.quote {
	position: relative;
	margin: 0 auto;
	width: 82%;

	font-size: 3.8rem;
	font-weight: 700;
	line-height: 1.3em;
	text-align: center;

	/* color: var(--bright-purple); */
	/* color: var(--off-orange); */
	/* color: var(--bright-red); */
	color: var(--dark-red);
	/* color: var(--dark-purple); */
	margin-bottom: 10px;

}

.quote span {
	z-index: -1;
	position: absolute;
	font-size: 3em;
	/* color: #ccc; */
	color: var(--off-orange);
}

.quote span:first-child {
	top: 15px;
	left: 0px;
}

@media (max-width: 1300px) {
	.quote {
		font-size: 3rem;
	}

}

@media (max-width: 950px) {
	.quote {
		font-size: 2.5rem;
		width: 100%;

	}
}

@media (max-width: 480px) {
	.quote {
		font-size: 2rem;
	}
}


.teamers-section {
	display: flex;
	flex-flow: column wrap;
} 

.teaming-call {
	width: fit-content;
	align-self: center;
	/* background: var(--bright-red); */
	background: var(--dark-red);
	padding: 10px 15px;
	color: var(--off-orange);

	transition: all 0.2s ease-in-out;
}

.teaming-call:hover {
	transform: scale(1.05);
	-webkit-box-shadow: 10px 10px 26px -19px rgba(0,0,0,0.68);
	-moz-box-shadow: 10px 10px 26px -19px rgba(0,0,0,0.68);
	box-shadow: 10px 10px 26px -19px rgba(0,0,0,0.68);
}

/* <---------- Transparency Section ----------> */

.transparency-docs-section ol,
.transparency-docs-section ul {
	padding-left: 50px;
	margin-bottom: 20px;
}

.transparency-docs-section ol {
	list-style: lower-latin;
}



/* <---------- Current Projects Section ----------> */

.current-pj-section p,
.current-pj-section h4,
.current-pj-section ul {
	width: 100%;
}

.current-pj-section ul {
	padding-left: 50px;
	margin-bottom: 20px;
	list-style-type: none;
}

.current-pj-section .dev-squema {
	font-weight: 500;
	font-size: 1.2em;
	/* color: #000; */

	color: var(--dark-red);
	background: var(--off-orange);
	padding: 10px 18px;
	border-radius: 10px;

	margin-bottom: 20px;

	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.current-pj-section .dev-squema i {
	padding: 0 10px;
	font-size: 1.3em;
	color: var(--dark-red);
	/* color: var(--off-orange); */
}


/* <---------- Colaborate Section ----------> */

.donate-section {
	justify-content: space-around;	
}

.colab-opt {
	width: 500px;
	max-width: 100%;
}

.colab-opt h3 {
	text-align: center;
}

.donate-section .colab-opt ul {
	margin: 0 40px;
	margin-bottom: 20px;
	padding: 30px 50px;
	background: var(--dark-red);
	color: var(--off-orange);
	border-radius: 30px;
}

.donate-section .btn-box {
	height: 180px;
}

.teaming-btn {
	margin: 0 auto;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	/* border: 3px var(--bright-red) solid; */
	padding: 10px;
	-webkit-box-shadow: 10px 10px 26px -19px rgba(0,0,0,0.68);
	-moz-box-shadow: 10px 10px 26px -19px rgba(0,0,0,0.68);
	box-shadow: 10px 10px 26px -19px rgba(0,0,0,0.68);


	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	transition: all 0.3s ease-in-out;
}

.teaming-logo {
	width: 118%;
}

.teaming-btn:hover {
	transform: scale(1.05);

}

a.link {
	font-weight: 600;
	color: var(--dark-red);
	text-decoration: underline var(--dark-red);
}
a.link:hover {
	color: var(--bright-red);
}



.colaborators-wrapper {
	width: 100%;
	
	margin-top: 25px;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.colab-btn {
	position: relative;
	width: fit-content;
	height: 152px;
	margin: 0 8px 20px;
	
	-webkit-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.68);
	-moz-box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.68);
	box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.68);

	transition: all 0.3s ease-in-out;
}

.colab-btn .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #000;
	transition: all 0.2s ease-in-out;
}

.colab-btn .overlay:hover {
	opacity: 0.2;
}



/* <---------- Donation Page ----------> */

.donate-methods-section {
	width: 70%;
}

.accordion-btn {
	width: 100%;
	cursor: pointer;
	padding: 5px 20px;
	/* background: rgba(0, 0, 0, 0.05); */
	border-bottom: 1px #ccc solid;
}

.accordion-btn i {
	transform: rotate(-90deg)
}

.accordion-btn.open i {
	transform: rotate(0deg)
}

.accordion-content {
	/* width: 100%; */
	max-height: 0;
	padding: 0 30px;
	overflow: hidden;
	transition: max-height 0.4s ease-out;
}

.accordion-content ul {
	background: rgba(0,0,0,0.3);
	color: var(--dark-red);
	margin: 0 auto;
	width: fit-content;
	margin-bottom: 20px;
	padding: 30px 50px;
	border-radius: 30px;
}

.donation-opt-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.donation-opt {
	padding: 10px 15px;
	font-size: 1.2rem;
	font-weight: 700;
	border-radius: 5px;
	margin: 10px 5px;
	background: var(--dark-red);
	color: var(--off-orange);
}

.donation-opt:hover {
	background: var(--bright-red);
}

@media (max-width: 1080px) {
	.donate-methods-section {
		width: 100%;
	}
}



/* <---------- Footer Section ----------> */

footer {
	width: 100%;
	margin-top: 50px;
	background: var(--darkest-red);
	padding: 40px 8%;
}

.footer-content {
	margin: 0 auto;
	/* color: white; */
	color: var(--off-orange);
	font-size: 0.9rem;
	max-width: 800px;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

footer a {
	color: var(--off-orange);
	transition: color 0.2s ease-in-out;
}

footer i {
	font-size: 1.5rem;
}

footer a:hover {
	color: var(--bright-red);
}

.footer-title {
	font-size: 1.1rem;
	font-weight: 600;
}

.contact-links,
.list-sections {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}

.list-sections a {
	padding: 15px 10px;
}

.list-sections .divider {
	width: 100%;
	height: 1px;
	background-color: #ccc;
	opacity: 0.5;
}

.contact-links {
	padding: 15px 10px;
}

.contact-links .sm-links {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-bottom: 15px;
}









